{% extends 'base/main.html' %}

{% block content %}


<div class="post-entry">
    <h2>
        welcome to the home page<hr>
    </h2>
</div>

    <div class="container">
        <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <div class="shadow-lg p-3 mb-5 bg-body rounded">
                <div class="p-3 mb-2 bg-secondary text-white">
                    
                        {% for post in posts %}
                            <div class="post-user">
                                <p style="color :rgb(253, 253, 253)(21, 255, 0); "><h2><a href="{% url 'detail' post.id %}">{{post.title}}</a></h2></p>
                                <h6>By @{{post.created_by}} , {{ post.created_at|timesince }} ago</h6>  
                            </div>
                        {% endfor %}
                </div>
            </div>
        </div>
        </div>
    </div>


{% endblock content %}